services:
  auth:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure
    volumes:
      - ./config/config.yaml:/app/config/config.yaml:ro
    # environment:
    #   APP_CONFIG_FILE: /app/config/config.yaml
    ports:
      - "8082:8082"

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata-auth:/var/lib/postgresql/data
      - ./config/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d auth || exit 1"]
      interval: 3s
      timeout: 3s
      retries: 10

volumes:
  pgdata-auth:
